@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
    .container {
      width: 738px;
    }
  }
  /* tablet */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  
  }
  /* desktop */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  
  .container{
    margin-inline: auto;
    }